*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding-top: 24px;
}

h2 {
    padding-top: 18px;
}

h3 {
    padding-top: 16px;
}

header, main {
    padding: 16px 32px;
}


.header {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

.profile-paragraph {
    padding-top: 16px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
  }

  li {
    padding: 8px 0;
  }

  nav {
    padding-top: 16px;
  }

  a {
    text-decoration: none;
    color: lightblue;
  }

  .contact-link {
    color: black;
  }