*{
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}

h1, h2, h3 {
    font-family: 'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-group {
  font-size: 5rem;
}

h1 {
  font-size: 1em;
  padding-top: 4.5rem;
}

.profession {
  font-size: 0.5em;
}

.profession::after {
    content: '👍';
}

h2 {
    padding-top: 1.125rem;
    position: relative;
    left: -2rem;
}

h3 {
    padding-top: 1.125rem;
}

header, main {
    padding: 1.5rem 0 0.5rem 0;
}

.header {
    text-align: center;
    background-image: linear-gradient(cornflowerblue 80%, darkblue);
    color: white;
    position: relative;
}

aside {
  position: absolute;
  background-color: yellow;
  top: 1rem;
  right: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: red;
  font-weight: bold;
  font-size: 2em;
}

.profile-paragraph {
    padding-top: 1rem;
}

.main {
    max-width: 25ch;
    margin: 0 auto;
    font-size: 2rem;
  }

  li {
    padding: 0.5rem 0;
  }

  nav {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

 a:hover {
    color:blue;
    cursor: pointer;
  }

  a:active {
    color: white;
  }

  .nav-link {
    font-size: 1.5rem;
    color: lightblue;
  }

  .contact-link {
    color: black;
  }

  article + article {
    margin-top: 2.5rem;
  }

  /* article:nth-child(2), article:nth-child(3) , article:nth-child(4) {
    border-top: 2px solid grey;
  }
  oder einfacher: */

  .main > article:not(:first-child) {
    position: relative;
}

.main > article:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  width: calc(100% + 2rem);
  height: 0.2rem; /* Höhe der Linie */
  background: linear-gradient(to right, black, lightgray); 
}

.experience-date-group {
  display: flex;
  flex-direction: column;
}

.experience-date-group > h3 {
  padding-top: 0;
}

.experience-date-group > p {
  padding-left: 0;
}


  ::selection {
    background-color: black;
    color: white;
  }

  /* header h3, header p {
    display: inline;
  } */

  h3 + p {
    padding-left: 1rem;
  }


  footer {
    background-image: linear-gradient(black, lightgray);
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer > p {
    font-size: 2rem;
    font-weight: bold;
    color: red;
  }


  /* responsive design: */

  @media screen and (min-width: 768px) {
    html {
      font-size: 12px;
    }

    .main {
      max-width: 50ch;
      font-size: 1.25rem;
    }

    article + article {
      margin-top: 3rem;
    }

    nav {
      flex-direction: row;
      justify-content: center;
    }

    a + a {
      padding-left: 1rem;
    }

    .experience-date-group {
      flex-direction: row;
      align-items: center;
    }

    .experience-date-group > p {
      padding-left: 1.2rem;
    }    
  }

  @media screen and (min-width: 992px) {
    html {
      font-size: 16px;
    }

    .main {
      max-width: 65ch;
      font-size: 1rem;
    }

    aside {
      position: fixed;
    }
  }

  @media print {
    nav, aside {
      visibility: hidden;
    }
  }