*{
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding-top: 24px;
}

h1::after {
    content: '👍';
}

h2 {
    padding-top: 18px;
}

h3 {
    padding-top: 16px;
}

header, main {
    padding: 24px 0 8px 0;
}


.header {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

.profile-paragraph {
    padding-top: 16px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
  }

  li {
    padding: 8px 0;
  }

  nav {
    padding-top: 16px;
  }

  a {
    text-decoration: none;
  }

  a:active {
    color: white;
  }

 a:hover {
    color:blue
  }

  .nav-link {
    color: lightblue;
  }

  .contact-link {
    color: black;
  }

  article + article {
    margin-top: 40px;
  }

  a + a {
    padding-left: 16px;
  }

  /* article:nth-child(2), article:nth-child(3) , article:nth-child(4) {
    border-top: 2px solid grey;
  }
  oder einfacher: */

  main > article:not(:first-child) {
    border-top: 2px solid rgba(0, 0, 0, .2);
}


  ::selection {
    background-color: black;
    color: white;
  }

  header h3, header p {
    display: inline;
  }

  h3 + p {
    padding-left: 16px;
  }